.cart-container{
    position: relative;
    .cart-icon-container{
        cursor: pointer;
        display: flex;
        justify-content: center;
        width: 45px;
        height: 45px;
        position: relative;
    
        .cart-icon{
            width: 24px;
            height: 24px;
        }
    
        .item-count {
            position: absolute;
            top: 6px;
            font-size: 12px;
        }
    }
    
    .cart-drop-down {
        position: absolute;
        z-index: 696;
        right: 0;
        display: flex;
        flex-direction: column;
        height: 340px;
        border: 1px solid black;
        background-color: white;
        box-shadow: 0 10px 20px rgba(black, .3);
        width: 200px;
        justify-content: space-between;
        padding: 20px;
        animation: fadeOut .3s ease-out;
    }

    @keyframes fadeOut {
        0% {
            height: 0;
            opacity: 0;
        }

        100% {
            height: 340px;
            opacity: 1;
        }
    }

}