.sign-in {
    width: 40%;
    .input-container{
        margin: 20px 0;
        margin-bottom: 40px;
    }
    .button-container {
        display: flex;
        justify-content: space-between;
    }
}