.checkout-page {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    .checkout-header {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .header-block {
            font-size: 20px;
            font-weight: 300;
        }
    }
    .checkout-item {
        margin: 20px 0;
        width: 100%;
        .item-container {
            &:first-child{
                border-top: 1px solid black;
            }
            padding: 15px 0;
            border-bottom: 1px solid black;
            display: flex;
            align-items: center;
            .item-image {
                img {
                    width: 80%;
                }
            }
            .item-quantity {
                &:not(&:last-child) span{
                    margin-left: 8px;
                }
            }
            .arrow {
                cursor: pointer;
                &:hover {
                    color: green;
                }
            }
            .item-remove {
                cursor: pointer;
                &:hover {
                    transform: scale(1.2);
                    color: red;
                }
            }
        }
    }
    .total {
        display: flex;
        flex-direction: row-reverse;
        font-size: 30px;
        text-transform: uppercase;
    }
    .test-warning {
        color: red;
        font-size: 25px;
        font-weight: 300;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}