.btn {
    height: 50px;
    min-width: 165px;
    width: auto;
    padding: 0 15px;
    line-height: 50px;

    letter-spacing: 0.5px;

    text-transform: uppercase;
    font-size: 15px;

    border: none;
    color: white;

    transition: all .2s;

    cursor: pointer;

    &-black {
        background-color: black;
        border: 1px solid black;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    &-blue {
        background-color: #4285F4;

        &:hover {
            background-color: #357ae8;
        }
    }

    &:hover {
        transform: scale(1.05);
    }
}