.category-container {
    height: 240px;
    min-width: 30%;
    flex: 1 1 auto;
    margin: 10px;
    position: relative;
    .category-bg-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
    }
    .category-body-container {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 90px;
        padding: 0 25px;
        border: 1px solid black;
        background-color: white;
        opacity: .7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
        border-radius: 4px;
        &:hover {
            transform: translate(-50%,-50%) scale(1.2);
            background-color: #eee;
        }

        h2 {
            font-size: 24px;
            margin: 0 6px 0;
            color: #4a4a4a;
        }

        p {
            font-size: 20px;
            margin: 6px 0 0;
            color: #bbb;
        }
    }
}