.navigation {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.nav-links-container {
    display: flex;

    .nav-link {
        margin: 0 20px;
    }
}

a {  
    &:link,&:visited {
        box-sizing: border-box;
        color: #4a4a4a;
    }
}