.form-group {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    padding: 5px;

    label {
        width: fit-content;
        padding-left: 5px;
        transform: translateY(25px);
        color: grey;
        transition: all .3s;
        font-weight: 300;
    }

    input {
        width: 100%;
        font-size: 18px;
        background-color: transparent;
        z-index: 100;
        height: 30px;
        border: none;
        border-bottom: 1px solid black;

        &:focus {
            outline: none;
        }

        &:focus + label {
            transform: translateY(0);
            font-size: 13px;
        }
        &:not([value =""]) + label {
            transform: translateY(0);
            font-size: 13px;
        }
    }

}