.product-card-container{
    width: 100%;
    position: relative;
    padding: 0 auto ;
    img {
        height: 350px;
        width: 100%;
        object-fit: cover;
    }

    .product-card-footer {
        display: flex;
        justify-content: space-between;
    }

    .btn {
        width: 80%;
        font-weight: 600;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        visibility: hidden;

    }
    &:hover .btn{
        opacity: .8;
        top: 70%;
        visibility: visible;
    }
    &:hover img {
        opacity: .8;
    }
}