.search-bar {
    margin: 30px;
    position: relative;
    display: inline-block;
    &__input {
        height: 50px;
        width: 400px;
        border-radius: 100px;
        padding-left: 30px;
        font-size: 20px;
        border: none;
        background-color: #ccc;
        &:focus {
            outline: none;
            background-color: #eee;
        }
    }
    &__label {
        display: block;
        font-size: 14px;
        text-align: left;
        margin-left: 30px;
        transition: all .4s;
        font-weight: 700;
        color: #ccc;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
    }

}